NEXT_PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_SUPERUSER_EMAIL=admin@humble.local
POCKETBASE_SUPERUSER_PASSWORD=change-this-local-password
HUMBLE_SESSION_SECRET=replace-with-at-least-32-random-characters
